/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

html{
    height: 100%;
}

.background {
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(184, 255, 240),
    rgb(240, 191, 255)
  );
}

body {
  /* background-color: rgb(196, 229, 240); */
  font-family: 'Marker Felt', fantasy;
}

h1 {
  font-size: 75px;
}

.toDoButton {
  font-size: 25px;
}

h2 {
  font-size: 50px;
  background-color: rgb(196, 185, 226);
  margin: 0 auto;
}

.border {
  border-width: 3px !important;
}

.taskText {
  font-size: 30px;
  text-align: left;
  display: inline-block;
  width: 45%;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0);
}

.taskTextOnly {
  font-size: 30px;
  text-align: left;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}

.taskInput {
  font-size: 20px;
  text-align: left;
  display: inline-block;
  width: 45%;
}

.newTaskInput {
  font-size: 30px;
}

.done {
  text-decoration-line: line-through;
}

.optionsButton {
  margin-bottom: 15px;
  display: inline-block;
}

.addButton {
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.allDoneButton {
  margin-bottom: 20px;
}

.deleteAllButton {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: -34%;
}
