<div>
  <br />
  <div class="text-center">
    <button type="button" class="btn btn-primary toDoButton" (click)="changeType()">
      <div *ngIf="!showDone">
        Pokaż zrobione
      </div>
      <div *ngIf="showDone">
        Pokaż do zrobienia
      </div>
    </button>
  </div>

  <div>
    <br />
    <app-addTask (addTaskEvent)="getTasks()" [style.visibility]="showDone ? 'hidden' : 'visible'" class="text-center">
    </app-addTask>
    <br />
    <app-todo-task *ngIf="!showDone" [toDoTasks]="toDoTasks" (reloadPage)="getTasks()"></app-todo-task>
    <app-done-task *ngIf="showDone" [doneTasks]="doneTasks" (reloadPage)="getTasks()"></app-done-task>
  </div>
